body {
    width           : 80% !important;
    margin          : auto !important;
    max-width       : 900px;
    background-color: #000000;
    font-size       : 20px;
    color           : blanchedalmond;
}